#daysOfWeek .btn-secondary {
    background-color: aliceblue;
    color: darkslategrey;
}

#daysOfWeek .btn-secondary.active {
    background-color: #6c757d;
    color: white;
}

#daysOfWeek .btn-secondary.focus {
    /*background-color: aliceblue;*/
    box-shadow: 0 0;
}

form .col {
    padding-left: 5px;
    padding-right: 5px;
}

form {
    margin-top: 15px;
    margin-bottom: 15px;
}