[Unit]
Description=RadioPi
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/radiopi
ExecStart=python /home/pi/radiopi/radiopi.py

[Install]
WantedBy=multi-user.target